html {
  height: 100%;
}
body{
    background-color:#ccffb3 /*#EEF2F5*/;
    margin:0 auto; 
    font-family: 'Arial', sans-serif; /*Niramit*/
    height: 100%;
    
}


img{
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.user{
    display: inline-block;
    padding-top: 0.7rem;
    padding-left: 1rem;
    width: 100%;
    height: 4rem;
    font-size: 1.8rem;
    
}
.post .fa-cannabis{
    /*background-image: url("images/Screenshot_1.png");
    */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.usericon{
    width: 100%;
    height: 100%;
    
}

.container .logo {
    position: absolute;
    width: 4rem;
    height: 3rem;
    
}
.profile {
    margin: 0.5rem 0 0.5rem 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 3rem;
    object-fit: none;
}
.icono{
    width: 3rem;
    height: 3rem;
}
.bot{
    width: 100%;
    height: 3rem;
    padding: 0.2rem;
    padding-left: 0.5rem;

}
h4{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
}
h5{
    display: inline-block;
}

.mobile {
    overflow-x: hidden;
}



