body {
	overflow: hidden;
}

.mobile-text {
    text-align:center;
    opacity:0.5;
}

.register-form{
	margin: 0 auto;
	margin-top: 5%;
}

.hr-separador {
	width: 30%;
}

.mb-separador{
    width: 80%;
}

.btn-separador {
	width: 30%;
}

.app-store {
	width: 100px;
	padding-right: 5px;
}

.play-store {
	width: 100px;
	padding-left: 5px;
}

.logo {
	width: 300px;
	height: 80px;
}

.footer{
	width: 90%;	
	text-align: center;
	margin: 0 auto;
	
}

.form-title {
	text-align: center;
}


@media screen and (max-width: 1024px){ 

    .desktop {
        display:none !important;
    }
    

} 

/*Este css detecta la resolución de la pantalla cuando tiene un ancho minimo de 600px, con esta sentencia css se oculta el div que contiene las redes sociales, que forman parte del footer móvil. */

@media screen and (min-width: 1024px){ 
    
    .mobile {
        display:none !important;

    }

    .logo {
    	margin-top: 20%;
    }
} 